# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos
.env
.venv
env/
venv/
conda-meta/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Imágenes
*.png

# Outputs de SLURM / logs
*.out
*.err

# Carpeta específica
deep4downscaling/